<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3' style="padding: 0;">
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>  
</div>
<footer class="bg-teal" style="text-align:center;">
    <p>
      Find me on social media
    </p>
    <ul id="socialIcons">
      <li><a href="https://www.facebook.com/smD.noObs" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://www.instagram.com/rohan.maharjan24" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://twitter.com/gr1mr3apr" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://github.com/g3tr3kt24x7" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
</footer>
